.productLinkTableInner .dataTables_length:before,
.productLinkTableInner .dataTables_length:after,
.productLinkTableInner .dataTables_scrollHeadInner:before,
.productLinkTableInner .dataTables_scrollHeadInner:after{
	display: table;
	content: '';
	clear: both;
}
.productLinkTableInner{
	position: relative; 
	padding: 5px;
}
#productLinksTable{
	min-width: 100%;
}
.productLinkTableInner .dataTables_length{
	position: relative;
}
.productLinkTableInner .dataTable{
	min-width: 100%;
}
.productLinkTableInner .dataTables_scrollHeadInner{
	min-width: 100%;
}
#productLinksTable_length label, 
#productLinksTable_length legend,
#productLinksTable_filter label{
	width: auto;
	margin: 0px 0px 0px 0px;
}
#productLinksTable_length label, 
#productLinksTable_length legend,
#productLinksTable_length select{
	float: none;
}
.productLinkTableInner .dataTables_paginate .paginate_button{
	box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    border: 1px solid transparent;
    border-radius: 2px;
}
.productLinkTableInner .dataTables_paginate .paginate_button:hover{
    border-color: #5b9dd9;
    color: #fff;
    background: #00a0d2;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}
.productLinkTableInner .dataTables_paginate .paginate_button.disabled,
.productLinkTableInner .dataTables_paginate .paginate_button.disabled:hover
{
	cursor: default !important;
    background-color: #ebebeb !important;
    color: #b4b4b4 !important;
    border: 0 !important;
}
.productLinkTableInner table{
	margin: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-spacing: 0;
    background-color: #f9f9f9;
    border-collapse: collapse;

}
.productLinkTableInner table tbody tr:hover td{
	background: #f3eeee;
}
.productLinkTableInner td{
	border: 1px solid #dfdfdf;
    text-align: left;
    padding: 0;
}
.productLinkTableInner .dataTables_scroll{
	top: 5px;
	position: relative;
	margin-bottom: 10px;
}
.productLinkTableInner .dataTables_scrollBody{
	border-bottom: 0px !important;
}
.productLinkTableInner .dataTables_scrollHeadInner th{
	border-bottom: 0px !important;
}